@tailwind base;

@tailwind components;

@tailwind utilities;

a {
  @apply text-primary;
}
a:hover {
  @apply text-secondary;
}

.abs-center-y {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}
